<!DOCTYPE html>
<html>

  <head>
    <title>LOGIN</title>
  </head>

  <body>
    WELCOME TO THE LOGIN PAGE
    <br>
    <br>
    To login:
    <br>
    <br>

    {% if permission is defined%}
    --WARNING--
    <br>
    YOUR USERNAME OR PASSWORD IS NOT CORECT
    <br>
    <br>
    {% endif %}
    
    
    <table border="1">
      <tr>
	<td>
	<form action="/auth", method="POST">
	  username:<br>
	  <input type="text" name="username">
	  <br>
	  <br>
	  password:<br>
	  <input type="password" name="password">
	  <br>
	  <br>
	  <input type="submit" name="sub1">
	  
	</form>
	</td>
      </tr>
      </table>
    <br>
    <br>
    To make an account:
    <br>
    click <a href="make_account">here</a>
    <br>
  </body>

</html>
